transition-all()
  -webkit-transition all 0.5s
  -moz-transition all 0.5s
  transition all 0.5s

.transition-all
  transition-all()

background-cover()
  -webkit-background-size cover
  -moz-background-size cover
  background-size cover
  -o-background-size cover

.background-cover
  background-cover()

serif()
  font-family 'Nanum Gothic', serif

.serif
  serif()

sans-serif()
  font-family 'Gamja Flower', cursive

.sans-serif
  sans-serif()
